page-home {
    .home
    {
        background : rgb(43, 174, 226);
        color: white;
        text-align:center;
        font-size: 1.5em;

    }
    ion-title
    {
        text-align: center;
    }
    .home1
    {
        
        min-width: 300px;
        max-width: 500px;
        margin-left:auto;
        margin-right:auto;
        
        padding-top:10px;
        padding-bottom:10px;
        
    }

    .list ion-item
    {
        background: #488aff;
        color:white
    }
    .list
    {   background: #488aff;
        border-radius: 2%;
        box-shadow: 0 0 20px 0 #488aff;
    }
}
